

<form class="user-login" action="/" method="post">
    <legend>Please Log In</legend>

    <label for="username">username</label>
    <input type="text" name="username" placeholder="username">

    <label for="password">password</label>
    <input type="password" name="password" placeholder="password">

    <input type="submit">
</form>
