<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Login With express-session</title>
  </head>


  <body>
    <header>
      <h1>Here's A Pointless Website</h1>
    </header>

    <main>
      <h3>Welcome, {{users}}. You've now logged in for some reason.</h3>
    </main>








  </body>
</html>
